@import "./variables/global";
@import "reset";
@import "./themes/dark";
@import "./themes/normal";

.app{
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.page-content{
    display: flex;
}

.page-wrapper{
    flex-grow: 1;
    padding: 20px;
}