.Sidebar{
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    width: var(--sidebar-width);   

    position: relative;
    transition: width .3s;
}

.collapsed{
    width: var(--sidebar-width-collapsed);   
}

.switches{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang{
    margin-left: 20px;
}