.Sidebar{
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    width: var(--sidebar-width);   
    position: relative;
    transition: width .3s;
}

.switches{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang{
    margin-left: 20px;
}

.collapsed{
    width: var(--sidebar-width-collapsed);   

    .switches{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lang{
        margin-left: 0;
    }

}

.collapseBtn{
    position: absolute;
    right: -32px;
    bottom: 20px;
}