.normal{
    --bg-color: #F6FEFA;
    --inverted-bg-color: #010905;
    --primary-color: #2ADF7F;
    --secondary-color: #7EE4EC;
    --inverted-primary-color: #20D574;
    --inverted-secondary-color: #137981;
}